*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #111111;

}

.form{
    text-align: center;
    padding: 30px
}

.form img{
    max-width: 500px;
    width: 100%;
}

.form input[type=text],
.form input[type=email]{
    padding-left: 10px;
    max-width: 500px;
    display: block;
    border-radius: 10px;
    margin: 10px auto;
    width:100%;
    height: 30px;
    border: 1px solid gray;
    font-size: 16px;
}

.form textarea{
    border-radius: 10px;
    height: 50px;
    padding-left: 10px;
    max-width: 500px;
    display: block;
    margin: 10px auto;
    width:100%;
    resize: vertical;
}

.form input[type=submit]{
    padding-left: 10px;
    max-width: 500px;
    display: block;
    border-radius: 10px;
    margin: 10px auto;
    width:100%;
    height: 30px;
    border: 1px solid gray;
    font-size: 16px;
    color: white;
    background-color: gray;
    cursor: pointer;
    animation-name: anim1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes anim1{
    from{background-color: gray;}
    to{background-color: white;color: black;}
}