*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.w50{
    width: 50%;
    padding: 0 10px;
}

.menu{text-align: right;}

section.banner{
    width: 100%;
    min-width: 500px;
    background-color: darkblue;
    text-align: center;
    padding:90px 0;
    color: white;
}

section.diferencias{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding:20px 0;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

footer{
    text-align: center;
    background-color: darkorchid;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px){

    header{
        text-align: center;
    }
    .menu{
        text-align: center;
    }
    section.banner{
        text-align: center;
    }
    .w33,.w50{
        width: 100%;
        margin-bottom: 20px;
    }
}